---
import {Image} from "astro:assets";
import herausforderungImg from "@assets/icons/herausforderung.svg";
import loesungImg from "@assets/icons/loesung.svg";
import ergebnissImg from "@assets/icons/ergebnisse.svg";
import fazitImg from "@assets/icons/fazit.svg";
import headerImage from '@assets/projects/observation-map-header.webp';
import LayoutProject from "@layouts/LayoutProject.astro";
const metaTitle = 'Frank - Projekte - Observation Map';
const metaDescription = 'MetaDescription';
const headerImgAlt = 'Alt Image';
---
<LayoutProject
        title={metaTitle}
        description={metaDescription}
        headerImage={headerImage}
        headerImageAlt={headerImgAlt}
>
    <section>
        <h1>Observation Map V1.0 – Die Hilfsanwendung für Wildtierbeobachtung</h1>

        <section class="content">
            <div class="text">
                <h2>Herausforderung</h2>
                <p>Die "Observation Map" ist eine Anwendung, die für Wildtierbeobachter entwickelt wurde, um die Tiere in ihrem natürlichen Lebensraum nicht zu stören. Die Herausforderung bestand darin, eine Methode zu finden, um Wildtierbeobachtungen effektiv zu dokumentieren, ohne die Tiere zu verschrecken.</p>
            </div>
            <Image
                    src={herausforderungImg}
                    alt="AltImage"
                    loading="eager"
            />
        </section>

        <section class="content">
            <div class="text">
                <h2>Lösung</h2>
                <p>Die Lösung bestand in der Entwicklung der "Observation Map". Diese Anwendung ermöglichte es Benutzern, Wildtierbeobachtungen auf interaktiven Karten festzuhalten, ohne die Tiere zu stören. Es wurden moderne Technologien wie Vue JS, VueLayers und Firebase Authentication eingesetzt, um eine benutzerfreundliche Plattform zu schaffen.</p>
            </div>
            <Image
                    src={loesungImg}
                    alt="AltImage"
                    loading="eager"
            />
        </section>

        <section class="content">
            <div class="text">
                <h2>Ergebnisse</h2>
                <p>
                    In der ersten Version der "Observation Map" wurden die Hauptziele des Projekts erfolgreich umgesetzt. Benutzer konnten ihre Beobachtungen einfach und effizient aufzeichnen und sowohl auf einer Karte als auch in tabellarischer Form darstellen. Die Anwendung schuf eine benutzerfreundliche Umgebung für Wildtierbeobachter, um ihre Erlebnisse zu organisieren und zu dokumentieren.
                </p>
            </div>
            <Image
                    src={ergebnissImg}
                    alt="AltImage"
                    loading="eager"
            />
        </section>

        <section class="content">
            <div class="text">
                <h2>Fazit</h2>
                <p>
                    Die "Observation Map" bietet eine innovative Lösung für Wildtierbeobachter, um ihre Beobachtungen auf einfache Weise festzuhalten und zu organisieren, ohne die Tiere zu stören. Das Projekt zeichnet sich durch die Verwendung moderner Technologien und die Integration von Geodaten aus und trägt dazu bei, die natürliche Umgebung der Tiere zu schützen und das Beobachten zu erleichtern. Es ermöglicht eine respektvolle und schonende Interaktion zwischen Menschen und Wildtieren in ihrem Lebensraum.
                </p>
            </div>
            <Image
                    src={fazitImg}
                    alt="AltImage"
                    loading="eager"
            />
        </section>
    </section>
</LayoutProject>

<style lang="scss">
  section {
    display: flex;
    flex-flow: column nowrap;
    gap: 5rem;
    h1 {
      margin-bottom: -3rem;
    }
  }
  .content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    .text {
      width: calc(66% - 2.5rem);
    }
    img {
      width: 33%;
      height: auto;
    }
    @media (max-width: 650px) {
      flex-flow: column;
      gap: .5rem;
      &:nth-child(even) {
        flex-direction: column;
      }
      .text, img {
        width: 100%;
      }
    }
  }
</style>
