---
import {Image} from "astro:assets";
import headerImage from '@assets/projects/oekologisch-header.webp';
import LayoutProject from "@layouts/LayoutProject.astro";
import herausforderungImg from "@assets/icons/herausforderung.svg";
import loesungImg from "@assets/icons/loesung.svg";
import ergebnissImg from "@assets/icons/ergebnisse.svg";
import fazitImg from "@assets/icons/fazit.svg";
import feautureImg from "@assets/icons/zukunft.svg";
const metaTitle = 'Frank - Projekte - Ökologisch';
const metaDescription = 'MetaDescription';
const headerImgAlt = 'Alt Description';
---
<LayoutProject
        title={metaTitle}
        description={metaDescription}
        headerImage={headerImage}
        headerImageAlt={headerImgAlt}
>
    <section>
        <h1>ökoLOGISCH! - Eine E-Learning-Plattform für Nachhaltigkeit</h1>
        <section class="content">
            <div class="text">
                <h2>Herausforderung</h2>
                <p>Die Webseite "ökoLOGISCH!" ist eine webbasierte E-Learning-Plattform, die speziell für Schülerinnen und Schüler der vierten bis sechsten Klasse entwickelt wurde. Dieses Projekt entstand im Rahmen des Studiengangs Multimedia Production an der Fachhochschule Graubünden. Die Hauptzielsetzung bestand darin, eine interaktive Lernplattform zu schaffen, die Kinder altersgerecht für Fragen der Nachhaltigkeit und des Umweltschutzes sensibilisiert, insbesondere im Kontext des Sustainable Development Goal (SDG) 12 - "Nachhaltige Konsum- und Produktionsmuster sicherstellen."</p>
            </div>
            <Image
                    src={herausforderungImg}
                    alt="AltImage"
                    loading="eager"
            />
        </section>

        <section class="content">
            <div class="text">
                <h2>Lösung</h2>
                <p>Die E-Learning-Plattform "ökoLOGISCH!" wurde als eine Verschmelzung der gestalterischen Elemente des Moduls "Visualisieren" und des Moduls "Interaktive Medien" entwickelt. Sie zielt darauf ab, die Bedeutung des Umweltschutzes zu verdeutlichen und Schülerinnen und Schülern anhand alltäglicher Beispiele zu zeigen, wie sie aktiv zu einer nachhaltigeren Welt beitragen können.</p>
            </div>
            <Image
                    src={loesungImg}
                    alt="AltImage"
                    loading="eager"
            />
        </section>

        <section class="content">
            <div class="text">
                <h2>Ergebnisse</h2>
                <p>Die Hauptzielsetzung von "ökoLOGISCH!" war es, Schülerinnen und Schüler für Nachhaltigkeitsthemen zu sensibilisieren und Wissen über SDG 12 zu vermitteln. Die Plattform hat dazu beigetragen, das Bewusstsein für nachhaltige Konsum- und Produktionsmuster zu schärfen und die Umweltbildung in der jungen Generation zu fördern. Sie ist in verschiedene Themenbereiche unterteilt, darunter Energie, Nachhaltigkeit, Klimawandel, Food-Waste und Recycling. Jeder Themenbereich enthält Einführungen und mehrere Lektionen, die das jeweilige Thema vertiefen. Minispiele und Quizrunden stehen zur Verfügung, um das gelernte Wissen zu überprüfen. Ein Glossar erläutert wichtige Begriffe und Definitionen im Zusammenhang mit Umweltschutz und Nachhaltigkeit.</p>
            </div>
            <Image
                    src={ergebnissImg}
                    alt="AltImage"
                    loading="eager"
            />
        </section>

        <section class="content">
            <div class="text">
                <h2>Fazit</h2>
                <p>"ökoLOGISCH!" ist eine wertvolle E-Learning-Plattform, die Schülerinnen und Schülern ein Bewusstsein für Umweltschutz und Nachhaltigkeit vermittelt. Ihre Struktur, die vielfältigen Lernmaterialien und das Glossar tragen dazu bei, das Wissen der jungen Generation in Bezug auf nachhaltige Konsum- und Produktionsmuster zu erweitern. Dieses Projekt dient als vorbildliches Beispiel für die Integration von Bildung und Umweltschutz in einem ansprechenden Online-Format.</p>
            </div>
            <Image
                    src={fazitImg}
                    alt="AltImage"
                    loading="eager"
            />
        </section>

        <section class="content">
            <div class="text">
                <h2>Zukünftige Entwicklungen</h2>
                <p>Um die Plattform weiter zu verbessern, können zusätzliche Lektionen, Minispiele und Quizrunden hinzugefügt werden. Regelmäßige Aktualisierungen und Pflege der Inhalte gewährleisten, dass die Webseite informativ und lehrreich bleibt, um Schülerinnen und Schüler weiterhin auf spannende Weise für Nachhaltigkeitsfragen zu sensibilisieren.</p>
            </div>
            <Image
                    src={feautureImg}
                    alt="AltImage"
                    loading="eager"
            />
        </section>
    </section>
</LayoutProject>

<style lang="scss">
  section {
    display: flex;
    flex-flow: column nowrap;
    gap: 5rem;
    h1 {
      margin-bottom: -3rem;
      text-align: center;
    }
  }
  .content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    .text {
      width: calc(66% - 2.5rem);
    }
    img {
      width: 33%;
      height: auto;
    }
    @media (max-width: 650px) {
      flex-flow: column;
      gap: .5rem;
      &:nth-child(even) {
        flex-direction: column;
      }
      .text, img {
        width: 100%;
      }
    }
  }
</style>
