---
import '@styles/global.css'
import '@styles/normalize.css'
import TheHeader from "@components/TheHeader.astro";
import TheFooter from "@components/TheFooter.astro";
import {Image} from 'astro:assets';
import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';
interface Props {
	title: string;
	description: string;
	headerImage: any;
	headerImageAlt: string;
}

const { title, description, headerImage, headerImageAlt } = Astro.props;
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex">
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<TheHeader />
		<main transition:animate={fade({ duration: '0.2s' })}>
			<article>
				<header>
					<Image
						src={headerImage}
						alt={headerImageAlt}
						widths={[480, 576, 768, 992, 1280]}
						loading="eager"
					/>
				</header>
				<slot />
				<footer>
					<p>
						<a href="/projekte/#uebersicht" rel="prefetch">
							Zurück zur Übersicht
						</a>
					</p>
				</footer>
			</article>
		</main>
		<TheFooter />
	</body>
</html>

<style lang="scss">
	main article header {
		img {
			width: 100%;
			height: auto;
		}
	}
</style>
